#tabela {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabela td, #tabela th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabela tr:nth-child(even){background-color: #f2f2f8;}

#tabela tr:hover {background-color: #ddd;}

#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#tabela td{text-align: center;}
